.degrees-container {
  color: white;
  font-size: 62px;
  line-height: 72px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px 24px;
  width: fit-content;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
  text-shadow: 0 30px 60px rgba(0, 0, 0, 0.7);
}
